@use '../../../styles/variable' as v

.loading
  width: 100%
  height: 100vh
  background: v.$bg-color
  position: fixed
  transform: translateZ(0)
  z-index: 1024
  left: 0
  top: 0
  display: flex
  justify-content: center
  align-items: center
  padding: 5vw
  img
    width: 60%
    max-width: 460px
  &.hide
    display: none
